CONVEX_DEPLOYMENT=anonymous:anonymous-template

VITE_CONVEX_URL=http://127.0.0.1:3210
VITE_CONVEX_SITE_URL=http://127.0.0.1:3211

JWKS=
JWT_PRIVATE_KEY=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AI_EXA=
AI_OPENCODE_ZEN=
