AI_OPENCODE_ZEN=

ZERO_UPSTREAM_DB=postgresql://postgres:password@127.0.0.1:5432/postgres
ZERO_QUERY_URL=http://localhost:5173/api/query
ZERO_REPLICA_FILE=/tmp/zstart_replica.db
ZERO_AUTH_SECRET=abcd

VITE_PUBLIC_SERVER=http://localhost:4848
