# applications
**/.env
**/.env.*
!**/.env.example

# build output & cache
**/dist
**/.turbo
**/.output
**/stats.html
**/*.tsbuildinfo

# packages
**/node_modules

# opencode
.opencode/btca/resources

# nix
result
flake.lock
