# applications
**/.env
**/.env.*
!**/.env.example

# build output & cache
**/dist
**/.turbo
**/.output
**/*.tsbuildinfo

# packages
**/node_modules

# application data
**/.data

# opencode
.opencode/resources

# nix
result
flake.lock
