@import '@xterm/xterm/css/xterm.css';

.terminal-renderer {
	background: var(--background);
}

.terminal-renderer .xterm {
	height: 100%;
	padding: 0 !important;
	width: 100%;
}

.terminal-renderer .xterm-viewport,
.terminal-renderer .xterm-scrollable-element {
	background: var(--background) !important;
}

.terminal-renderer .xterm .xterm-selection div {
	background-color: oklch(0.8214 0.1337 49.9802 / 30%) !important;
}
